.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
}

.list {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.list a {
  font-size: 3.5rem;
  color: #111893;
}

.list a:hover {
  background-color: #111893;
  color: white;
  padding: 0;
}
