.navbar {
    display: flex;
}

.navbar a {
    color: white;
    font-size: 1.75rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
}

.navbar a:hover {
    color: black;
    text-transform: uppercase;
}