.navbar {
  display: flex;
}

.navbar a {
  color: white;
  font-size: 1.75rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

.navbar a:hover {
  color: #111893;
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
